
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.vscode/
allure-report/
allure-results/
test-examples/
test-examples/
screenshots/
scripts/
/tests/.auth/
/.auth/